# BASE DE DADOS MySQL
DB_HOST=mysql.railway.internal
DB_USER=root
DB_PASSWORD=mnJLJOMyGXAJTuTqaggPPJHFXvJzepTZ
DB_NAME=railway
DB_PORT=3306

# SERVIDOR
PORT=3000
FRONTEND_URL=https://save.up.railway.app

# JWT
JWT_SECRET=saveup_local_secret_key

# VITE FRONTEND
VITE_API_URL=https://save.up.railway.app/api
VITE_ENVIRONMENT=production
VITE_USE_MOCK_DATA=false