# BASE DE DADOS MySQL
DB_HOST=ftp.projetosaea.net
DB_USER=projetosaea_a13968
DB_PASSWORD=EpG@CC0E+p]q6nA7
DB_NAME=projetosaea_saveup
DB_PORT=3306

# SERVIDOR
PORT=3000
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=saveup_local_secret_key

# VITE FRONTEND
VITE_API_URL=http://localhost:3000/api
VITE_ENVIRONMENT=development
VITE_USE_MOCK_DATA=false