# BASE DE DADOS MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=saveup

# SERVIDOR
PORT=3000
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=your_jwt_secret_here

# VITE FRONTEND
VITE_API_URL=http://localhost:3000/api
VITE_ENVIRONMENT=development
VITE_USE_MOCK_DATA=false
